/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('./fonts/roboto-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url('./fonts/roboto-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('./fonts/roboto-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url('./fonts/roboto-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* roboto-mono-400normal - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Mono Regular '),
    local('Roboto Mono-Regular'),
    url('./fonts/roboto-mono-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* roboto-mono-400italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Mono Regular italic'),
    local('Roboto Mono-Regularitalic'),
    url('./fonts/roboto-mono-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* roboto-mono-500normal - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Mono Medium '),
    local('Roboto Mono-Medium'),
    url('./fonts/roboto-mono-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* roboto-mono-500italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Mono Medium italic'),
    local('Roboto Mono-Mediumitalic'),
    url('./fonts/roboto-mono-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono-latin-500italic.woff') format('woff'); /* Modern Browsers */
}
