/* This file contains Tailwind styles applied to common tags
 * such as paragraphs, headings, links, etc. */

section,
.section {
  @apply max-w-2xl;
}

p {
  @apply my-6;
}


/* **************************
 * HEADINGS
 * **************************/
main {
  h1 {
    @apply text-4xl text-gray-800 leading-tight mb-12 mt-12;
  }
  h2 {
    @apply text-2xl text-gray-800 leading-snug mb-8 mt-16;
  }
  h3 {
    @apply text-xl text-gray-800 font-medium leading-snug mb-6 mt-8;
  }
  h4,
  .rubric {
    @apply text-gray-800 font-medium my-6;
  }
}


/* **************************
 * LINKS
 * **************************/
.headerlink {
  @apply invisible ml-3 text-gray-500 font-medium;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
table:hover .headerlink,
.figure:hover .headerlink,
.literal-block-wrapper:hover .headerlink {
  @apply visible;
}

p a {
  @apply text-blue-600;
}

.search {
  li {
    @apply border-t my-4 py-4;
    a {
      @apply text-blue-600 text-lg;
    }
  }
  .context {
    @apply text-sm text-gray-800;
  }
}

.highlighted {
  @apply py-px px-1 bg-pink-200 rounded;
}

.highlight-link {
  @apply hidden;
}

.headerlink:hover:after,
.search li a:hover,
a:hover {
  @apply text-pink-500;
}

#nav-toc {
  a.current {
    @apply text-pink-500;
  }
  .toctree-l1 > a {
    @apply block py-4 pl-8 pr-4;
  }
  .toctree-l1:first-of-type > a {
    @apply -mt-4;
  }
  .toctree-l2 > a {
    @apply block py-3 pl-10 pr-4;
  }
  .toctree-l3 > a {
    @apply block py-3 pl-16 pr-4;
  }
  a:hover {
    @apply text-gray-800 bg-gray-300;
  }
  .caption {
    @apply pl-8 pr-4 uppercase text-sm text-gray-500 tracking-widest;
  }
  .caption:first-of-type {
    @apply mt-0;
  }
}


/* **************************
 * CODE
 * **************************/
code {
  @apply font-mono font-medium text-sm leading-none py-px px-1 bg-gray-200 rounded;
}

.highlight {
  @apply bg-gray-200 rounded my-6;
}

td.code > .highlight {
  @apply rounded-r rounded-l-none;
}

pre {
  width: 95%;
  @apply font-mono font-normal p-4 overflow-x-auto;
}

/* emphasized lines in .highlight blocks */
.hll {
  @apply block;
}

.literal-block-wrapper {
  @apply my-6;

  .code-block-caption {
    @apply text-sm ml-4;
  }
  .highlight {
    @apply mt-4;
  }
}

/* make prompts unselectable */
.gp {
  @apply select-none pointer-events-none;
}

/* **************************
 * LISTS
 * **************************/
ol {
  @apply list-decimal ml-4;
}

.section ul {
  @apply list-disc ml-4;
}

ol > li,
.section ul > li {
  @apply pl-4;
}

dt {
  @apply font-medium tracking-wide;
}

dd {
  @apply pl-12;
}

/* **************************
 * TABLES
 * **************************/
table:not(.highlighttable) {
  @apply text-sm my-10;
}

.highlighttable {
  @apply w-full;
}

table {
  caption {
    @apply text-left text-sm text-gray-800 px-2 mb-4;
  }
  p {
    @apply p-0 m-0;
  }
  p + p {
    @apply mt-4;
  }
  tr {
    @apply border-b border-t border-gray-400;
  }
  th {
    @apply font-medium bg-gray-200 tracking-wide py-3 px-2 text-left align-top;
  }
  td {
    @apply px-2 py-3 text-left align-top;
  }
}


/* **************************
 * FIGURES
 * **************************/

.figure {
  @apply my-12;
  .caption {
    @apply text-sm text-gray-800 m-4;
  }
  .caption-number {
    @apply font-medium tracking-wide;
  }
  .legend {
    @apply text-sm text-gray-800 italic ml-4;
    p:first-child {
      @apply mt-0;
    }
  }
}


/* **************************
 * ADMONITIONS
 * **************************/
.admonition {
  @apply text-sm my-6 p-4 rounded text-blue-900 bg-blue-200;

  p:not(.admonition-title) {
    @apply my-4;
  }
  p:last-child {
    @apply mb-0;
  }
}

.tip,
.hint {
  @apply text-green-900 bg-green-200;
}

.warning,
.danger,
.error {
  @apply text-red-900 bg-red-200;
}

.caution,
.important {
  @apply text-yellow-900 bg-yellow-200;
}

.admonition-title {
  @apply font-medium tracking-wide mb-4 mt-0;
}

/* **************************
 * OTHER DIRECTIVES/ROLES
 * **************************/
.guilabel {
  @apply font-medium tracking-wide;
}

/* **************************
 * PRINT
 * **************************/
@media print {
  header {
    box-shadow: none !important;
    flex-direction: row-reverse !important;
    justify-items: space-between !important;
    align-items: center !important;
    @apply border-b;

    img {
      transform: translate(0px, -14px) !important;
      margin-right: 1rem !important;
    }
    h2 {
      margin-left: 1rem !important;
    }
  }

  footer,
  button,
  nav,
  form {
    @apply hidden;
  }

  p {
    orphans: 2;
    widows: 2;

    a.external:after {
      content: " (" attr(href)  ")";
    }
  }

  @page {
    margin-top: 1.5cm;
    margin-bottom: 2cm;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    @bottom-left {
      content: "Virtual Cluster Docs";
      font-size: 9pt;
    }
    @bottom-right {
      content: counter(page);
    }
    @top-left {
      content: "";
    }
    @top-right {
      content: "";
    }
    @top-center {
      content: "";
    }
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  a {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  section[role='contentinfo'] {
    break-before: avoid;
    page-break-before: avoid;
  }

  table {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  code {
    whitespace: pre-wrap !important;
  }
}
