[flake8]
select = ANN,BLK,B,B89,B9,C,D,E,F,S,W,ISC
ignore = E203, ANN101
extend-ignore = W203, W503
max-complexity = 10
max-line-length = 88
docstring-convention = google
per-file-ignores = tests/*:S101
