[tool.poetry]
name = "sphinxawesome-theme"
version = "1.19.0"
description = "An awesome theme for the Sphinx documentation generator"
readme = "README.rst"
authors = ["Kai Welke <kai687@pm.me>"]
repository = "https://github.com/kai687/sphinxawesome-theme"
license = "MIT"
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Theme',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]
packages = [
  { include = "sphinxawesome_theme", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0.0"
sphinx = ">3"
sphinxawesome-sampdirective = "^1.0.3"
importlib_metadata = {version = ">=1.6.1,<3.0.0", python = "<3.8"}
beautifulsoup4 = "^4.9.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
flake8-annotations = "^2.5.0"
flake8-black = "^0.2.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.11.1"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
black = "^20.8b1"
pre-commit = "^2.9.3"
pytest = "^6.2"
pytest-cov = "^2.10"
mypy = "^0.790"
coverage = { extras = ["toml"], version = "^5.3" }
flake8_implicit_str_concat = "^0.2.0"
pytest-randomly = "^3.4.1"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["sphinxawesome_theme"]

[tool.coverage.report]
show_missing = true

[tool.poetry.plugins."sphinx.html_themes"]
"sphinxawesome_theme" = "sphinxawesome_theme"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
