[tool.poetry]
name = "sphinxawesome-theme"
version = "5.0.0-beta.5"
description = "An awesome theme for the Sphinx documentation generator"
readme = "README.md"
authors = ["Kai Welke <kai687@pm.me>"]
homepage = "https://sphinxawesome.xyz"
documentation = "https://sphinxawesome.xyz"
repository = "https://github.com/kai687/sphinxawesome-theme"
license = "MIT"
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Theme',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]
packages = [
  { include = "sphinxawesome_theme", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.8"
sphinx = ">4, <7"
beautifulsoup4 = "^4.9.1"

[tool.poetry.group.docs.dependencies]
sphinx-autobuild = "^2021.3.14"
sphinx-sitemap = "^2.2.0"
sphinx-design = ">=0.4.1,<0.6.0"
python-dotenv = ">=0.19,<1.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2"
pytest-cov = "^4.0"
coverage = { extras = ["toml"], version = "^7.2" }
types-docutils = ">=0.19.1.6,<0.21.0.0"
mypy = "^1.0"

[tool.poetry.group.lint.dependencies]
black = "^23.1"
pre-commit = "^3.1.1"
ruff = ">=0.0.269,<0.1.2"

[tool.poetry.group.netlify.dependencies]
nox = {version = "^2023.4.22", python = "3.8"}
poetry = {version = "^1.4.2", python = "3.8"}
pipx = {version = "^1.2.0", python = "3.8"}
pip = {version = "^23.1.2", python = "3.8"}

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["sphinxawesome_theme"]

[tool.coverage.report]
show_missing = true

[tool.ruff]
select = ["E", "F", "B", "Q", "W", "I", "C90", "D", "UP", "YTT", "S", "ANN", "SIM", "N"]
target-version = "py38"
ignore = ["ANN401", "D203", "D213", "SIM105", "E501"]

[tool.ruff.per-file-ignores]
"tests/*" = ["S101"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.mypy]
files = ["src/sphinxawesome_theme/*.py", "tests/*.py", "noxfile.py", "docs/*.py"]
show_error_codes = true
show_error_context = true
pretty = true
strict = true
show_column_numbers = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["pygments.*", "dotenv", "sphinxcontrib.serializinghtml", "nox_poetry", "bs4"]
ignore_missing_imports = true

[tool.poetry.plugins."sphinx.html_themes"]
sphinxawesome_theme = "sphinxawesome_theme"

[build-system]
requires = ["poetry_core"]
build-backend = "poetry.core.masonry.api"
