[project]
name = "sphinxawesome-theme"
version = "6.0.0b2"
description = "An awesome theme for the Sphinx documentation generator"
readme = "README.md"
authors = [
  { name = "Kai Welke", email = "kai687@pm.me" }
]
classifiers = [
  "Programming Language :: Python",
  "Framework :: Sphinx",
  "Framework :: Sphinx :: Theme",
  "Topic :: Documentation",
  "Topic :: Documentation :: Sphinx",
  "Topic :: Software Development :: Documentation",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
requires-python = ">=3.9"
packages = [
  { include = "sphinxawesome_theme", from = "src" }
]
dependencies = [
    "beautifulsoup4>=4.9.1,<4.14.0",
    "sphinx>7,<9",
]

[project.urls]
homepage = "https://sphinxawesome.xyz"
documentation = "https://sphinxawesome.xyz"
repository = "https://github.com/kai687/sphinxawesome-theme"
issues = "https://github.com/kai687/sphinxawesome-theme/issues"

[project.entry-points."sphinx.html_themes"]
sphinxawesome_theme = "sphinxawesome_theme"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
docs = [
    "myst-nb",
    "python-dotenv",
    "sphinx-autoapi",
    "sphinx-autobuild",
    "sphinx-design",
    "sphinx-docsearch",
    "sphinx-sitemap",
]
dev = [
    "pytest-cov",
    "pytest",
    "coverage[toml]",
    "ruff",
    "types-docutils",
    "types-beautifulsoup4",
    "types-pygments",
    "pyright",
]
netlify = [
  "nox",
  "uv",
]

[tool.ruff.lint]
# TODO: Check if all of these even make sense
select = ["E", "F", "B", "Q", "W", "I", "C90", "D", "UP", "YTT", "S", "ANN", "SIM", "N"]
ignore = ["E501", "ANN401"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.pyright]
include = ["src", "noxfile.py"]
reportUnnecessaryTypeIgnoreComment = "warning"
