[tool.poetry]
name = "sphinxawesome-theme"
version = "1.10.1"
description = "An awesome theme for the Sphinx documentation generator"
readme = "README.rst"
authors = ["Kai Welke <kai687@pm.me>"]
repository = "https://github.com/kai687/sphinxawesome-theme"
license = "MIT"
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Theme',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]
packages = [
  { include = "sphinxawesome_theme", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0.0"
sphinx = ">3"
sphinxawesome-sampdirective = "^1.0.3"
importlib_metadata = {version = "^1.6.1", python = "<3.8"}
beautifulsoup4 = "^4.9.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.3"
flake8-annotations = "^2.3.0"
flake8-black = "^0.2.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
black = "^19.10b0"
pre-commit = "^2.5.1"

[tool.poetry.plugins."sphinx.html_themes"]
"sphinxawesome_theme" = "sphinxawesome_theme"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
