[tool.poetry]
name = "sphinxawesome-theme"
version = "1.19.2"
description = "An awesome theme for the Sphinx documentation generator"
readme = "README.rst"
authors = ["Kai Welke <kai687@pm.me>"]
repository = "https://github.com/kai687/sphinxawesome-theme"
license = "MIT"
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Theme',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]
packages = [
  { include = "sphinxawesome_theme", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0.0"
sphinx = ">3"
sphinxawesome-sampdirective = "^1.0.3"
importlib_metadata = {version = ">=1.6.1,<3.0.0", python = "<3.8"}
beautifulsoup4 = "^4.9.1"
docutils = "<0.17"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.2"
flake8-annotations = "^2.6.2"
flake8-black = "^0.2.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.4.3"
flake8-docstrings = "^1.6.0"
black = "^20.8b1"
pre-commit = "^2.12.1"
pytest = "^6.2"
pytest-cov = "^2.11"
mypy = "0.812"
coverage = { extras = ["toml"], version = "^5.5" }
flake8_implicit_str_concat = "^0.2.0"
pytest-randomly = "^3.4.1"
isort = "^5.8.0"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["sphinxawesome_theme"]

[tool.coverage.report]
show_missing = true

[tool.isort]
multi_line_output = 3
profile = "black"

[tool.poetry.plugins."sphinx.html_themes"]
"sphinxawesome_theme" = "sphinxawesome_theme"

[build-system]
requires = ["poetry_core"]
build-backend = "poetry.core.masonry.api"
