argcomplete==3.2.1 ; python_version == "3.8"
build==1.0.3 ; python_version == "3.8"
cachecontrol[filecache]==0.13.1 ; python_version == "3.8"
certifi==2023.11.17 ; python_version == "3.8"
cffi==1.16.0 ; (sys_platform == "darwin" or sys_platform == "linux") and python_version == "3.8"
charset-normalizer==3.3.2 ; python_version == "3.8"
cleo==2.1.0 ; python_version == "3.8"
click==8.1.7 ; python_version == "3.8"
colorama==0.4.6 ; python_version == "3.8" and (sys_platform == "win32" or os_name == "nt" or platform_system == "Windows")
colorlog==6.8.0 ; python_version == "3.8"
crashtest==0.4.1 ; python_version == "3.8"
cryptography==41.0.7 ; sys_platform == "linux" and python_version == "3.8"
distlib==0.3.8 ; python_version == "3.8"
dulwich==0.21.7 ; python_version == "3.8"
fastjsonschema==2.19.1 ; python_version == "3.8"
filelock==3.13.1 ; python_version == "3.8"
idna==3.6 ; python_version == "3.8"
importlib-metadata==7.0.1 ; python_version == "3.8"
importlib-resources==6.1.1 ; python_version == "3.8"
installer==0.7.0 ; python_version == "3.8"
jaraco-classes==3.3.0 ; python_version == "3.8"
jeepney==0.8.0 ; sys_platform == "linux" and python_version == "3.8"
keyring==24.3.0 ; python_version == "3.8"
more-itertools==10.1.0 ; python_version == "3.8"
msgpack==1.0.7 ; python_version == "3.8"
nox==2023.4.22 ; python_version == "3.8"
packaging==23.2 ; python_version == "3.8"
pexpect==4.9.0 ; python_version == "3.8"
pip==23.3.2 ; python_version == "3.8"
pipx==1.4.1 ; python_version == "3.8"
pkginfo==1.9.6 ; python_version == "3.8"
platformdirs==3.11.0 ; python_version == "3.8"
poetry-core==1.8.1 ; python_version == "3.8"
poetry-plugin-export==1.6.0 ; python_version == "3.8"
poetry==1.7.1 ; python_version == "3.8"
ptyprocess==0.7.0 ; python_version == "3.8"
pycparser==2.21 ; python_version == "3.8" and (sys_platform == "darwin" or sys_platform == "linux")
pyproject-hooks==1.0.0 ; python_version == "3.8"
pywin32-ctypes==0.2.2 ; sys_platform == "win32" and python_version == "3.8"
rapidfuzz==3.6.1 ; python_version == "3.8"
requests-toolbelt==1.0.0 ; python_version == "3.8"
requests==2.31.0 ; python_version == "3.8"
secretstorage==3.3.3 ; sys_platform == "linux" and python_version == "3.8"
shellingham==1.5.4 ; python_version == "3.8"
tomli==2.0.1 ; python_version == "3.8"
tomlkit==0.12.3 ; python_version == "3.8"
trove-classifiers==2024.1.8 ; python_version == "3.8"
urllib3==2.1.0 ; python_version == "3.8"
userpath==1.9.1 ; python_version == "3.8"
virtualenv==20.25.0 ; python_version == "3.8"
xattr==0.10.1 ; sys_platform == "darwin" and python_version == "3.8"
zipp==3.17.0 ; python_version == "3.8"
