argcomplete==3.5.1 ; python_version == "3.8"
build==1.2.2.post1 ; python_version == "3.8"
cachecontrol[filecache]==0.14.0 ; python_version == "3.8"
certifi==2024.8.30 ; python_version == "3.8"
cffi==1.17.1 ; (sys_platform == "darwin" or sys_platform == "linux") and python_version == "3.8" and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
charset-normalizer==3.4.0 ; python_version == "3.8"
cleo==2.1.0 ; python_version == "3.8"
click==8.1.7 ; python_version == "3.8"
colorama==0.4.6 ; python_version == "3.8" and (sys_platform == "win32" or os_name == "nt" or platform_system == "Windows")
colorlog==6.9.0 ; python_version == "3.8"
crashtest==0.4.1 ; python_version == "3.8"
cryptography==43.0.3 ; sys_platform == "linux" and python_version == "3.8"
distlib==0.3.9 ; python_version == "3.8"
dulwich==0.22.3 ; python_version == "3.8"
fastjsonschema==2.20.0 ; python_version == "3.8"
filelock==3.16.1 ; python_version == "3.8"
idna==3.10 ; python_version == "3.8"
importlib-metadata==8.5.0 ; python_version == "3.8"
importlib-resources==6.4.5 ; python_version == "3.8"
installer==0.7.0 ; python_version == "3.8"
jaraco-classes==3.4.0 ; python_version == "3.8"
jeepney==0.8.0 ; sys_platform == "linux" and python_version == "3.8"
keyring==25.5.0 ; python_version == "3.8"
more-itertools==10.5.0 ; python_version == "3.8"
msgpack==1.1.0 ; python_version == "3.8"
nox==2024.10.9 ; python_version == "3.8"
packaging==24.1 ; python_version == "3.8"
pexpect==4.9.0 ; python_version == "3.8"
pip==24.2 ; python_version == "3.8"
pipx==1.7.1 ; python_version == "3.8"
pkginfo==1.11.2 ; python_version == "3.8"
platformdirs==4.3.6 ; python_version == "3.8"
poetry-core==1.9.1 ; python_version == "3.8"
poetry-plugin-export==1.8.0 ; python_version == "3.8"
poetry==1.8.4 ; python_version == "3.8"
ptyprocess==0.7.0 ; python_version == "3.8"
pycparser==2.22 ; (sys_platform == "darwin" or sys_platform == "linux") and python_version == "3.8" and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pyproject-hooks==1.2.0 ; python_version == "3.8"
pywin32-ctypes==0.2.3 ; sys_platform == "win32" and python_version == "3.8"
rapidfuzz==3.10.1 ; python_version == "3.8"
requests-toolbelt==1.0.0 ; python_version == "3.8"
requests==2.32.3 ; python_version == "3.8"
secretstorage==3.3.3 ; sys_platform == "linux" and python_version == "3.8"
shellingham==1.5.4 ; python_version == "3.8"
tomli==2.0.2 ; python_version == "3.8"
tomlkit==0.13.2 ; python_version == "3.8"
trove-classifiers==2024.10.21.16 ; python_version == "3.8"
urllib3==2.2.3 ; python_version == "3.8"
userpath==1.9.2 ; python_version == "3.8"
virtualenv==20.27.0 ; python_version == "3.8"
xattr==1.1.0 ; sys_platform == "darwin" and python_version == "3.8"
zipp==3.20.2 ; python_version == "3.8"
