alabaster==0.7.12; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
babel==2.9.0; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
beautifulsoup4==4.9.3
certifi==2020.12.5; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
chardet==4.0.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
docutils==0.16; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
idna==2.10; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
imagesize==1.2.0; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
importlib-metadata==2.1.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version < "3.8" or python_version < "3.8"
jinja2==2.11.2; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
markupsafe==1.1.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
packaging==20.9; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
pygments==2.7.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
pyparsing==2.4.7; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pytz==2020.5; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
requests==2.25.1; python_full_version >= "3.6.1" and python_version >= "3.5" and python_full_version < "4.0.0"
snowballstemmer==2.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
soupsieve==2.1; python_version >= "3.5"
sphinx==3.4.3; python_version >= "3.5"
sphinxawesome-sampdirective==1.0.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
sphinxcontrib-applehelp==1.0.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
sphinxcontrib-devhelp==1.0.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
sphinxcontrib-htmlhelp==1.0.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
sphinxcontrib-jsmath==1.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
sphinxcontrib-qthelp==1.0.3; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
sphinxcontrib-serializinghtml==1.1.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.5"
urllib3==1.26.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.5"
zipp==3.4.0; python_full_version >= "3.6.1" and python_version < "3.8" and python_full_version < "4.0.0" and python_version >= "3.6"
