/* **************************
 * ADMONITIONS
 * **************************/

.admonition,
div.versionadded,
div.versionchanged,
div.deprecated {
  @apply text-sm my-6 p-4 border-l-4 rounded-sm shadow;
  & > :last-child {
    @apply my-0;
  }
}

.note,
[class^="admonition-"]:not(.admonition-title) {
  @apply text-blue-900 border-blue-400 bg-blue-400/[0.02];

  & .headerlink {
    @apply text-current;
  }
}

div.versionadded,
.tip,
.hint {
  @apply text-green-900 border-green-400 bg-green-400/[0.02];
}

div.deprecated,
.danger,
.error {
  @apply text-red-900 border-red-400 bg-red-400/[0.02];
}

div.versionchanged,
.attention,
.warning,
.caution,
.important {
  @apply text-yellow-900 border-yellow-400 bg-yellow-400/[0.02];
}

div.versionadded,
div.versionchanged,
div.deprecated {
  & .versionmodified {
    @apply font-medium italic;
  }
}

.admonition-title {
  @apply font-medium tracking-wide mb-4 mt-0;
}
