/* **************************
 * ADMONITIONS
 * **************************/

blockquote {
  @apply text-sm my-6 px-4 bg-gray-100 border-l-4 border rounded-sm shadow;
  & .attribution {
    @apply italic;
  }
}

.admonition {
  @apply text-sm my-6 p-4 text-blue-900 border-blue-400 border-l-4 rounded-sm bg-blue-400 bg-opacity-2 shadow;

  & p:not(.admonition-title) {
    @apply my-4;
  }
  & p:last-child {
    @apply mb-0;
  }
  & .headerlink {
    @apply text-current;
  }
}

.seealso {
  & ul {
    & p {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.tip,
.hint {
  @apply text-green-900 border-green-400 bg-green-400 bg-opacity-2;
}

.warning,
.danger,
.error {
  @apply text-red-900 border-red-400 bg-red-400 bg-opacity-2;
}

.caution,
.important {
  @apply text-yellow-900 border-yellow-400 bg-yellow-400 bg-opacity-2;
}

.admonition-title {
  @apply font-medium tracking-wide mb-4 mt-0;
}
