/* ******************
 * Some basic styling
 * ******************/

:root {
  --sidebar-width: 300px;
  --fluid-margin: 7.5vw;
  /* sky-500 */
  --color-brand: rgb(14, 165, 233);
  /* sky-700 */
  --color-link: rgb(3, 105, 161);
}

@layer base {
  /* this ought to be part of the normalizer */
  input,
  button {
    @apply rounded-none appearance-none;
  }

  section,
  footer {
    @apply max-w-prose;
  }

  section > section {
    @apply py-12;
  }

  section > p {
    @apply my-6;
  }

  hr {
    @apply mb-12;
  }

  strong {
    @apply font-medium;
  }

  svg {
    @apply inline;
  }

  h1 {
    @apply mt-20 text-gray-dark tracking-tight text-4xl sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply mb-8 text-gray-dark tracking-tight text-xl sm:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-gray-dark text-lg lg:text-xl;
  }

  h4 {
    @apply text-gray-dark font-medium;
  }
}

@layer utilities {
  .lead {
    @apply text-gray-dark leading-loose mt-4 mb-16;
  }
  p.rubric {
    @apply text-gray-dark font-medium mt-12 mb-0;
  }
}
