/* ******************
 * Some basic styling
 * ******************/

:root {
  --sidebar-width: 300px;
  --fluid-margin: 7.5vw;
  /* sky-500 */
  --color-brand: rgb(14, 165, 233);
  /* sky-700 */
  --color-link: rgb(3, 105, 161);
  --color-gray: #424242;
  --color-gray-light: #616161;
  --color-gray-dark: #212121;
}

@layer base {
  /* this ought to be part of the normalizer */
  input,
  button {
    @apply rounded-none appearance-none;
  }

  main {
    & section,
    & footer {
      @apply max-w-prose;
    }
  }

  section > section {
    @apply py-6 print:py-0;
  }

  section > p {
    @apply my-6;
  }

  hr {
    @apply mb-12 border-t;
  }

  strong {
    @apply font-medium;
  }

  svg {
    @apply inline;
  }

  h1 {
    @apply mt-20 print:mt-0 text-gray-dark tracking-tight text-3xl;
  }

  h2 {
    @apply mb-8 text-gray-dark tracking-tight leading-6 text-xl sm:text-2xl;
  }

  h3 {
    @apply text-gray-dark text-lg;
  }

  h4 {
    @apply text-gray-dark font-medium;
  }
}

@layer utilities {
  .lead {
    @apply text-gray-dark mt-4 mb-16 text-m;
  }
  .centered {
    @apply text-center;
  }
  p.rubric {
    @apply text-gray-dark font-medium mt-12 mb-0;
  }
}
