/*
* I'm assuming it's because of the format of the `content`,
* but I can't add this to `tailwind.config.js`
*/
pre del::before {
  @apply absolute text-red-900 left-[2px] content-['\2212'];
}

pre ins::before {
  @apply absolute text-green-900 left-[2px] content-['\002b'];
}

.highlight .copy {
  @apply absolute top-3 right-1.5 border p-1 uppercase select-none text-xs tracking-wide rounded-sm text-gray-700 bg-white opacity-0 focus:opacity-100 transition-all duration-500 transform active:translate-x-0.5 active:translate-y-0.5;
}

.highlight:hover .copy {
  @apply opacity-100;
}
