/*
 * Styles for code elements
 */

/* inline code */
:not(pre) > code {
  font-size: 15px;
  @apply font-medium px-1 bg-gray-50 border;
  &.highlight {
    @apply bg-gray-50;
  }
}

kbd {
  @apply inline-block font-medium text-xs p-1 border border-gray-dark rounded-sm;
}

/* literal blocks (mostly parsed-literals) not wrapped in div.highlight */
pre {
  @apply relative border overflow-x-hidden rounded-sm shadow-md leading-normal my-6;
  /* give some extra padding to parsed-literals */
  &.literal-block {
    @apply p-4 overflow-x-auto;
  }
  & code {
    @apply block p-4 overflow-x-auto;
  }
  & .copy {
    @apply absolute top-1.5 right-1.5 border p-1 uppercase text-xs tracking-wide rounded-sm text-gray-700 shadow-sm bg-white opacity-0 focus:opacity-100 transition-all duration-500 transform active:translate-x-0.5 active:translate-y-0.5 z-10;
  }

  &:hover .copy {
    @apply opacity-100;
  }
}

.admonition pre,
.admonition .highlight {
  @apply shadow-none;
}

/* the outer wrapper for a code block */
.highlight:not(.docutils) {
  @apply my-6 shadow;
  /* the code block itself */
  & pre {
    @apply my-0 rounded-t-none shadow-none border-none;
  }
  /* emphasized lines */
  & mark,
  & ins,
  & del {
    @apply block relative -ml-4 -mr-2 pl-4 py-px;
  }
  & mark {
    @apply bg-yellow-200;
  }
  & ins {
    @apply bg-green-200 no-underline;
    &:before {
      content: "\002b";
      left: 2px;
      @apply absolute text-green-900;
    }
  }
  & del {
    @apply bg-red-200 no-underline;
    &:before {
      content: "\2212";
      left: 2px;
      @apply absolute text-red-900;
    }
  }
  /* line numbers */
  & .linenos {
    @apply bg-transparent text-gray-700 p-0 pr-6 select-none;
  }
  /* code lines (wrapped around lines with line numbers) */
  & .code-line {
    @apply block;
  }
}

/* Diff highlighting inserted/deleted elements
   some pygments themes do not have styles for it */
span.gd {
  @apply inline-block bg-red-200 py-px w-full;
}

span.gi {
  @apply inline-block bg-green-200 py-px w-full;
}

/* the header of a code block */
.code-header {
  @apply border-l border-t border-r flex justify-between items-center text-sm text-gray-100 bg-gray-dark border-gray-dark rounded-t-sm rounded-b-none;
  & .caption-text {
    @apply p-2;
  }
}

.code-lang {
  @apply inline-block p-2 pl-4 mr-auto font-mono uppercase tracking-widest;
}

/* make prompts unselectable */
.gp {
  @apply select-none pointer-events-none;
}

/* from the 'samp' role */
.samp > em,
.placeholder {
  @apply text-blue-800;
}

/* autodocs */
.guilabel,
.menuselection {
  @apply font-medium text-gray-dark tracking-wide;
}

dl.code-definition {
  @apply mt-6 pt-6 mb-12 border-t;
  & dt {
    @apply font-normal;
    & > code {
      @apply border-none bg-transparent text-gray-dark px-0;
    }
  }
  & .property {
    @apply text-gray-light;
  }
}
