/*
 * Styles for code elements
 */

/* inline code */
:not(pre) > code,
kbd {
  @apply font-medium px-1;
}

/* literal blocks (mostly parsed-literals) not wrapped in div.highlight */
pre {
  @apply my-6 border p-2 overflow-x-auto rounded-xs;
  /* give some extra padding to parsed-literals */
  &.literal-block {
    @apply p-4;
  }
}

/* the outer wrapper for a code block */
.highlight {
  @apply my-6;
  /* the code block itself */
  & pre {
    @apply m-0 pl-4;
  }
  /* emphasized lines */
  & mark,
  & ins,
  & del {
    @apply block relative -ml-4 -mr-2 pl-4 py-px;
  }
  & mark {
    @apply bg-yellow-50;
  }
  & ins {
    @apply bg-green-200 no-underline;
    &:before {
      content: "\002b";
      left: 2px;
      @apply absolute text-green-900;
    }
  }
  & del {
    @apply bg-red-200 no-underline;
    &:before {
      content: "\2212";
      left: 2px;
      @apply absolute text-red-900;
    }
  }
  /* line numbers */
  & .linenos {
    @apply bg-transparent text-gray-700 p-0 pr-6 select-none;
  }
  /* code lines (wrapped around lines with line numbers) */
  & .code-line {
    @apply block;
  }
}

/* Diff highlighting inserted/deleted elements
   some pygments themes do not have styles for it */
span.gd {
  @apply inline-block bg-red-200 py-px w-full;
}

span.gi {
  @apply inline-block bg-green-200 py-px w-full;
}

/* the header of a code block */
.code-header {
  @apply border-l border-t border-r flex justify-between items-center text-sm text-gray-100 bg-gray-800 rounded-xs;
  & .caption-text {
    @apply p-2;
  }
}

.code-lang {
  @apply inline-block p-2 pl-4 mr-auto font-mono uppercase tracking-widest;
}

/* make prompts unselectable */
.gp {
  @apply select-none pointer-events-none text-blue-800 font-medium;
}

/* from the 'samp' directive */
em.var {
  @apply text-purple-700 font-medium;
}

/* from the 'samp' role */
.samp > em {
  @apply text-purple-700;
}

button.copy {
  @apply p-2 ml-auto text-gray-100 focus:text-pink-600 hover:text-pink-600;
  & > svg {
    @apply h-4 w-4 fill-current;
  }
}

/* autodocs */
dl.code-definition {
  & dt {
    @apply p-2 my-4 border border-l-4;
    & code {
      @apply text-base bg-white p-0;
    }
  }
}

dl.code-definition:not(.option) {
  & .sig-prename {
    @apply text-gray-600;
  }
  & .sig-name {
    @apply text-lg;
  }
  & .sig-paren {
    @apply px-px;
  }
}

/* .. option:: */
dl.option {
  & .sig-prename {
    @apply italic text-purple-700;
  }
}

.guilabel,
.menuselection {
  @apply font-medium tracking-wide;
}
