/* Styles for collapsible elements */
button.expand-more {
  @apply ml-2 float-right text-gray-600 hover:text-pink-600 focus:text-pink-600;
  & > svg {
    @apply fill-current h-6 w-6 transition-transform transform rotate-0 duration-100 ease-out;
  }
}

.accordion:hover .expand-more {
  @apply text-pink-600;
}

.active .expand-more > svg {
  @apply rotate-180;
}

.panel {
  max-height: 0;
  @apply overflow-y-hidden invisible opacity-0 transition-opacity duration-500 ease-out;
}

.active + .panel {
  max-height: fit-content;
  @apply overflow-y-visible visible opacity-100;
}
