/* Styles for reStructuredText content */

#content {
  & svg {
    @apply inline;
  }
  & hr {
    @apply my-4 border-border md:my-6;
  }

  & h1 {
    @apply mb-2 text-4xl font-bold;
  }

  & h2 {
    @apply mt-12 border-b border-border pb-2 text-3xl font-semibold;
  }

  & h3 {
    @apply mt-8 text-2xl font-semibold;
  }

  & h4,
  & .rubric {
    @apply mt-8 text-xl font-semibold;
  }

  & section {
    @apply scroll-m-20;
  }

  & section > p {
    @apply mt-6 leading-7 first:mt-0;
    &.lead {
      @apply text-lg text-muted-foreground;
    }
  }

  & .centered {
    @apply text-center;
  }

  & a.viewcode-back {
    @apply absolute right-0 !text-muted-foreground;
  }

  & a:not(.toc-backref) {
    @apply font-medium underline decoration-from-font underline-offset-4;
  }

  & ul:not(.search) {
    @apply ml-6 mt-6 list-disc;
    & > li,
    & p {
      @apply mt-6;
    }
    & ul {
      @apply mt-0;
    }
  }

  & ol {
    @apply ml-6 mt-6 list-decimal marker:font-medium;
    & > li,
    & p {
      @apply mt-6;
    }
    & ol {
      @apply mt-0;
    }
  }

  & dl {
    @apply mt-6;
    & dt:not(.sig) {
      @apply mt-6 font-medium first:my-0;
    }
    & dd {
      @apply ml-6;
    }
    & p {
      @apply my-2;
    }
  }

  & .align-center {
    @apply mx-auto text-center;
  }
  & .align-right {
    @apply ml-auto text-right;
  }

  & img {
    @apply mt-6;
  }

  & figure img {
    @apply inline-block;
  }

  & figcaption {
    @apply mb-12 text-sm text-muted-foreground;
    & > * {
      @apply mt-4;
    }
  }

  & .eqno {
    @apply float-right;
  }
}

blockquote {
  @apply my-6 border-l-2 pl-6 italic;
  & .attribution {
    @apply mt-2 not-italic;
  }
}

table {
  @apply my-6 w-full text-sm;
  & caption {
    @apply mb-6 text-left text-muted-foreground;
  }
  & thead {
    @apply border-b border-border;
  }
  & th {
    @apply pb-2 pl-2 text-left font-medium first:pl-0 dark:font-semibold;
  }
  & tbody tr {
    @apply border-b border-border;
  }
  & tbody td {
    @apply p-2 first:pl-0;
  }
}

.footnote {
  & > .label {
    @apply float-left pr-2;
  }
  & > :not(.label) {
    @apply my-6 ml-8;
  }
  & .footnote-reference,
  & [role="doc-backlink"] {
    @apply !no-underline;
  }
}
