/*
 * Custom styles for Docsearch
 */
:root {
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--color-brand);
  --docsearch-key-gradient: transparent;
  --docsearch-primary-color: var(--color-brand);
  --docsearch-modal-width: 960px;
  --docsearch-modal-background: white;
}

.DocSearch-Button {
  @apply rounded-none h-14 leading-14 pr-4;
}

.DocSearch-Button-Key {
  @apply h-5 p-4 text-sm font-sans;
}

.DocSearch-Button:hover .DocSearch-Button-Key {
  @apply text-gray-dark border-gray-dark;
}

.DocSearch-Button .DocSearch-Search-Icon {
  @apply text-gray-100;
  stroke-width: 2.5;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}

.DocSearch-Button-Placeholder {
  @apply pl-3;
}

.DocSearch-Hit-source {
  @apply text-gray-dark;
}

.DocSearch-Hit a {
  @apply shadow-none border border-gray-100 rounded-sm;
}

.DocSearch-Modal {
  @apply rounded-sm;
}
