/* layout related styles */

@layer utilities {
  @variants responsive {
    .grid-layout {
      grid-template-areas:
        "header header"
        "sidebar main";
      grid-template-columns: minmax(10px, 270px) minmax(10px, 1fr);
      grid-template-rows: min-content 1fr;
    }
    .grid-area-header {
      grid-area: header;
    }
    .grid-area-sidebar {
      grid-area: sidebar;
    }
    .grid-area-main {
      grid-area: main;
    }
  }
}
