/* ****************
 * Styles for links
 * ****************/

@custom-selector :--headerlinkable
  h1,
  h2,
  h3,
  table,
  .admonition-title,
  figure,
  dt,
  .literal-block-wrapper;

.headerlink {
  @apply ml-1 text-gray-700;
  & > svg {
    height: 0.875em;
    @apply invisible fill-current outline-none;
  }
  &:focus > svg {
    @apply visible;
  }
}

:--headerlinkable:hover {
  & .headerlink {
    & > svg {
      @apply visible;
    }
  }
}

p:not(.admonition-title),
#nav-toc,
.search,
.toctree-wrapper,
.contents.local {
  & a {
    @apply text-blue-700;
  }
}

.search {
  & li {
    @apply border-t my-4 py-4;
    & a {
      @apply text-lg;
    }
  }
  & .context {
    @apply text-sm text-gray-800;
  }
}

.highlighted {
  @apply py-px px-1 bg-pink-200 rounded;
}

.highlight-link {
  @apply hidden;
}

a:hover,
a:focus {
  @apply text-pink-600 !important;
}

.footnote-reference {
  vertical-align: super;
  @apply text-sm -ml-1;
}

.external-link-icon {
  height: 0.875rem;
  margin-bottom: 2px;
  @apply ml-px;
}
