/* ****************
 * Styles for lists
 * ****************/

@layer base {
  article {
    & ol {
      @apply list-decimal my-4 pl-5;
      & ol {
        @apply list-latin my-4 pl-5;
      }
      & li {
        @apply pl-1 my-4;
        &::marker {
          @apply font-medium text-gray-dark;
        }
        & p {
          @apply my-2;
        }
      }
    }
    & ul {
      @apply list-disc my-4 pl-5;
      & li {
        @apply pl-1 my-4;
        &::marker {
          @apply text-gray-light;
        }
        & p {
          @apply my-2;
        }
      }
    }
    & dt {
      @apply font-medium my-4;
    }
    & dd {
      @apply pl-5;
      & p {
        @apply my-4;
      }
    }
  }
}

dl.footnote {
  @apply text-sm grid;
  grid-template-columns: max-content auto;
  & dt {
    @apply text-link;
  }
  & span.brackets {
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }
}
