/* ********************************************************
 * Styles for various navigation menus / tables of contents
 * ********************************************************/

/* For displaying on-site elements
 * Note: `.contents` is a Tailwind class (display: contents)
 *       that's why we set `block` here explicitly.
 */
.contents.local {
  @apply mt-12 pb-12 border-b block;
  & .topic-title {
    @apply uppercase text-sm font-medium text-gray-light mt-0 mb-2 font-mono;
  }
  & ul {
    @apply pt-2;
  }
  & li {
    @apply pl-4 py-2;
  }
  & > ul > li {
    @apply border-l-2;
  }
  & a {
    @apply block text-gray-light text-sm hover:text-gray-dark focus:text-gray-dark tracking-extended;
  }
}

/* The side bar */
.nav-toc {
  & .caption {
    @apply text-m font-medium tracking-wide text-gray pt-10 pb-3;
  }
  & p:first-of-type {
    @apply pt-4;
  }
  & > ul:first-child {
    @apply pt-4;
  }
  & .expand {
    height: 1.2rem;
    margin-left: -0.4rem;
    @apply inline fill-current cursor-pointer select-none hover:text-brand focus:text-brand transition-transform transform duration-150 ease-out;
  }
  & li > ul {
    @apply pl-4 overflow-y-hidden max-h-0;
  }
  & .expanded {
    & > div > .expand {
      @apply rotate-90;
    }
    & > ul {
      @apply max-h-full;
      & a.current {
        @apply text-brand;
      }
    }
  }
  & a {
    @apply text-gray-light text-sm inline-block py-1 hover:text-brand focus:text-brand;
    &.current {
      @apply text-gray-dark font-medium;
    }
  }
  & ul + ul {
    @apply mt-8;
  }
}

/* The `.. toctree::` (if not used with `:hidden:`) */
.toctree-wrapper {
  & .caption {
    @apply uppercase text-m font-medium tracking-wider font-mono text-gray-dark pb-6;
  }
  @apply my-12 border-t pt-12;
  & li li {
    @apply pl-4;
  }
  & a {
    @apply block text-link py-1 hover:text-brand focus:text-brand;
  }
}
