/* ********************************************************
 * Styles for various navigation menus / tables of contents
 * ********************************************************/

/* For displaying on-site elements
 * Note: `.contents` is a Tailwind class (display: contents)
 *       that's why we set `block` here explicitly.
 */
.contents.local {
  @apply mt-12 pb-12 border-b block print:hidden;
  & .topic-title {
    @apply uppercase text-sm font-medium text-gray-light mt-0 mb-2 font-mono;
  }
  & ul {
    @apply pt-2 list-none my-0 pl-0;
    & ul {
      @apply ml-4;
    }
  }
  & li {
    @apply py-2 pl-0 my-0;
    & p {
      @apply my-0;
    }
  }
  & a {
    @apply block text-link hover:text-brand focus:text-brand;
  }
}

/* The side bar */
.nav-toc {
  & .caption {
    @apply text-m font-medium tracking-wide text-gray pt-10 pb-3;
  }
  & p:first-of-type {
    @apply pt-4;
  }
  & > ul:first-child {
    @apply pt-4;
  }
  & .expand {
    height: 1.2rem;
    margin-left: -0.4rem;
    @apply inline fill-current cursor-pointer select-none hover:text-brand focus:text-brand transition-transform transform duration-150 ease-out;
  }
  & li > ul {
    @apply pl-4 overflow-y-hidden max-h-0;
  }
  & .expanded {
    & > div > .expand {
      @apply rotate-90;
    }
    & > ul {
      @apply max-h-full;
      & a.current {
        @apply text-brand;
      }
    }
  }
  & a {
    @apply text-gray-light inline-block py-1 hover:text-brand focus:text-brand;
    &.current {
      @apply text-gray-dark font-medium;
    }
  }
  & ul + ul {
    @apply mt-8;
  }
}

/* The `.. toctree::` (if not used with `:hidden:`) */
.toctree-wrapper {
  & .caption {
    @apply uppercase text-sm font-medium font-mono text-gray-light pb-6;
  }
  & ul {
    @apply pl-0 list-none;
    & > li {
      @apply pl-0;
    }
  }
  @apply my-12 border-t pt-12;
  & li li {
    @apply pl-4;
  }
  & a {
    @apply block py-1 text-link hover:text-brand hover:underline focus:text-brand focus:underline;
  }
}

.nav-link {
  letter-spacing: 0.2px;
  font-size: 0.95rem;
}
