/* ********************************************************
 * Styles for the navigation menu on the left side #nav-toc
 * ********************************************************/

#nav-toc {
  & .caption {
    @apply pl-8 pr-4 uppercase text-sm text-gray-900 font-medium tracking-widest;
  }
  & p:first-of-type {
    @apply mt-0;
  }
  & > ul {
    @apply px-8 -mt-4;
  }
  & .nav-link {
    @apply relative py-2;
  }
  & a.current {
    @apply text-pink-600;
  }
  & .expand {
    top: 0;
    left: -16px;
    padding: 3px;
    transition: transform 150ms ease-out;
    @apply inline-block absolute text-xl font-medium cursor-pointer select-none;
    &:hover {
      @apply text-pink-600;
    }
  }
  & li > ul {
    max-height: 0;
    overflow-y: hidden;
    @apply pl-4;
  }
  & .expanded {
    & > div > a.current {
      @apply font-medium;
    }
    & > div > .expand {
      transform: rotate(90deg);
    }
    & > ul {
      max-height: 100%;
    }
  }
}

@screen xxl {
  #nav-toc {
    & .caption {
      @apply pl-16;
    }
    & > ul {
      @apply pl-16;
    }
  }
}

/* This is for on-page navigation menus */
.toctree-wrapper,
.contents.local {
  @apply mt-12;
  & .caption {
    @apply uppercase text-sm text-gray-700 tracking-widest;
  }
  & ul {
    @apply mx-0 !important;
  }
  & li {
    @apply list-none px-0 !important;
  }
  & .toctree-l1 > a {
    @apply block;
  }
  & .toctree-l2 > a {
    @apply block py-3 pl-4;
  }
  & .toctree-l3 > a {
    @apply block py-3 pl-8;
  }
  & a.current {
    @apply text-pink-600;
  }
}
