/* ********************************************************
 * Styles for the navigation menu on the left side .nav-toc
 * ********************************************************/

nav[data-menu="open"] {
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1),
    2px 0 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-toc .caption,
.toctree-wrapper .caption,
.contents.local .topic-title {
  @apply uppercase text-sm text-gray-900 font-medium tracking-widest;
}

.nav-toc {
  @apply flex-1 px-5;
  & p:first-of-type {
    @apply mt-0;
  }
  & > ul {
    @apply -mt-4;
  }
  & .nav-link {
    @apply py-2;
  }
  & a.current {
    @apply text-pink-600;
  }
  & .expand {
    height: 1.2rem;
    margin-left: -0.4rem;
    transition: transform 150ms ease-out;
    @apply inline fill-current cursor-pointer select-none;
    &:hover {
      @apply text-pink-600;
    }
    &:focus,
    &:active {
      @apply outline-none;
    }
  }
  & li > ul {
    max-height: 0;
    overflow-y: hidden;
    @apply pl-4;
  }
  & .expanded {
    & > div > a.current {
      @apply font-medium;
    }
    & > div > .expand {
      transform: rotate(90deg);
    }
    & > ul {
      max-height: 100%;
    }
  }
}

/* This is for on-page navigation menus
 * have to set `display: block` explicitly
 * b/c that's also a class in Tailwind */
.toctree-wrapper,
.contents.local {
  @apply mt-12 block;
  & ul {
    @apply mx-0 !important;
  }
  & li {
    @apply list-none px-0 !important;
    & > ul {
      @apply pl-4;
    }
  }
  & a.current {
    @apply text-pink-600;
  }
}
