/* ***********************
 * Stylesheet for printout
 * ***********************/

@media print {
  p {
    orphans: 2;
    widows: 2;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  a {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  section[role="contentinfo"] {
    break-before: avoid;
    page-break-before: avoid;
  }

  table {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  pre,
  code {
    white-space: pre-wrap !important;
  }

  .seealso a.internal:after {
    content: " (" attr(href) ")";
  }

  main a:after {
    content: " (" attr(href) ")";
  }
}
