/* This is the main source file for the Sphinx Next Theme
 * We import the Tailwind CSS and all styling for our theme
 * comes in the theme-custom.css file */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "base.css";
@import "nav.css";
@import "links.css";
@import "code.css";
@import "lists.css";
@import "tables.css";
@import "figures.css";
@import "admonitions.css";
@import "transitions.css";
@import "print.css";
@import "tooltips.css";
@import "collapsible.css";
@import "tailwindcss/utilities";
