/*
 * Styles for Tooltips
 * adapted from: https://github.com/primer/css/blob/master/src/tooltips/tooltips.scss
 * Primer/CSS (MIT license)
 */

.tooltipped {
  position: relative;
}

/* This is the tooltip bubble */
.tooltipped:after {
  z-index: 1000000;
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  content: attr(data-tooltip);
  @apply pointer-events-none absolute hidden whitespace-pre rounded-sm bg-muted/75 p-1 text-center font-sans text-xs font-normal text-muted-foreground no-underline opacity-0;
}

/* delay animation for tooltip */
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* This will indicate when we'll activate the tooltip */
.tooltipped:hover,
.tooltipped:focus {
  &:before,
  &:after {
    display: inline-block;
    text-decoration: none;
    animation-name: tooltip-appear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.2s;
  }
}

.tooltipped-no-delay:hover,
.tooltipped-no-delay:focus {
  &:before,
  &:after {
    animation-delay: 0s;
  }
}

.tooltipped-multiline:hover,
.tooltipped-multiline:focus {
  &:after {
    display: table-cell;
  }
}

/* Tooltipped south */
.tooltipped-s,
.tooltipped-se,
.tooltipped-sw {
  &:after {
    top: 100%;
    right: 50%;
    margin-top: 6px;
  }

  &:before {
    top: auto;
    right: 50%;
    bottom: -7px;
    margin-right: -6px;
    border-bottom-color: #1a202c;
  }
}

.tooltipped-se {
  &::after {
    right: auto;
    left: 50%;
    margin-left: -16px;
  }
}

.tooltipped-sw::after {
  margin-right: -16px;
}

/* Tooltips above the object */
.tooltipped-n,
.tooltipped-ne,
.tooltipped-nw {
  &:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 6px;
  }

  &:before {
    top: -7px;
    right: 50%;
    bottom: auto;
    margin-right: -6px;
    border-top-color: #1a202c;
  }
}

.tooltipped-ne {
  &:after {
    right: auto;
    left: 50%;
    margin-left: -16px;
  }
}

.tooltipped-nw::after {
  margin-right: -16px;
}

/* Move the tooltip body to the center of the object. */
.tooltipped-s:after,
.tooltipped-n:after {
  transform: translateX(50%);
}

/* Tooltipped to the left */
.tooltipped-w {
  &:after {
    right: 100%;
    bottom: 50%;
    margin-right: 6px;
    transform: translateY(50%);
  }

  &:before {
    top: 50%;
    bottom: 50%;
    left: -7px;
    margin-top: -6px;
    border-left-color: #1a202c;
  }
}

/* tooltipped to the right */
.tooltipped-e {
  &:after {
    bottom: 50%;
    left: 100%;
    margin-left: 6px;
    transform: translateY(50%);
  }

  &:before {
    top: 50%;
    right: -7px;
    bottom: 50%;
    margin-top: -6px;
    border-right-color: #1a202c;
  }
}
