/*
 * Styles for Tooltips
 * adapted from: https://github.com/primer/css/blob/master/src/tooltips/tooltips.scss
 * Primer/CSS (MIT license)
 */

@utility tooltipped {
	position: relative;

	/* This is the tooltip bubble */
	&:after {
		z-index: 1000000;
		-webkit-font-smoothing: subpixel-antialiased;
		text-shadow: none;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: break-word;
		content: attr(data-tooltip);
		@apply pointer-events-none absolute hidden whitespace-pre rounded-sm bg-muted/75 p-1 text-center font-sans text-xs font-normal text-muted-foreground no-underline opacity-0;
	}

	/* This will indicate when we'll activate the tooltip */
	&:hover,
	&:focus {
		&:before,
		&:after {
			display: inline-block;
			text-decoration: none;
			animation-name: tooltip-appear;
			animation-duration: 0.4s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in;
			animation-delay: 0.2s;
		}
	}
}

/* delay animation for tooltip */
@keyframes tooltip-appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@utility tooltipped-no-delay {
	&:hover,
	&:focus {
		&:before,
		&:after {
			animation-delay: 0s;
		}
	}
}

@utility tooltipped-multiline {
	&:hover,
	&:focus {
		&:after {
			display: table-cell;
		}
	}
}

/* Tooltipped south */
@utility tooltipped-s {
	&:after {
		top: 100%;
		right: 50%;
		margin-top: 6px;
		transform: translateX(50%);
	}

	&:before {
		top: auto;
		right: 50%;
		bottom: -7px;
		margin-right: -6px;
		border-bottom-color: #1a202c;
	}
}

@utility tooltipped-se {
	&:after {
		top: 100%;
		right: 50%;
		margin-top: 6px;
		right: auto;
		left: 50%;
		margin-left: -16px;
	}

	&:before {
		top: auto;
		right: 50%;
		bottom: -7px;
		margin-right: -6px;
		border-bottom-color: #1a202c;
	}
}

@utility tooltipped-sw {
	&:after {
		top: 100%;
		right: 50%;
		margin-top: 6px;
		margin-right: -16px;
	}

	&:before {
		top: auto;
		right: 50%;
		bottom: -7px;
		margin-right: -6px;
		border-bottom-color: #1a202c;
	}
}

/* Tooltips above the object */
@utility tooltipped-n {
	&:after {
		right: 50%;
		bottom: 100%;
		margin-bottom: 6px;
		transform: translateX(50%);
	}

	&:before {
		top: -7px;
		right: 50%;
		bottom: auto;
		margin-right: -6px;
		border-top-color: #1a202c;
	}
}

@utility tooltipped-ne {
	&:after {
		right: 50%;
		bottom: 100%;
		margin-bottom: 6px;
		right: auto;
		left: 50%;
		margin-left: -16px;
	}

	&:before {
		top: -7px;
		right: 50%;
		bottom: auto;
		margin-right: -6px;
		border-top-color: #1a202c;
	}
}

@utility tooltipped-nw {
	&:after {
		right: 50%;
		bottom: 100%;
		margin-bottom: 6px;
		margin-right: -16px;
	}

	&:before {
		top: -7px;
		right: 50%;
		bottom: auto;
		margin-right: -6px;
		border-top-color: #1a202c;
	}
}

/* Tooltipped to the left */
@utility tooltipped-w {
	&:after {
		right: 100%;
		bottom: 50%;
		margin-right: 6px;
		transform: translateY(50%);
	}

	&:before {
		top: 50%;
		bottom: 50%;
		left: -7px;
		margin-top: -6px;
		border-left-color: #1a202c;
	}
}

/* Tooltipped to the right */
@utility tooltipped-e {
	&:after {
		bottom: 50%;
		left: 100%;
		margin-left: 6px;
		transform: translateY(50%);
	}

	&:before {
		top: 50%;
		right: -7px;
		bottom: 50%;
		margin-top: -6px;
		border-right-color: #1a202c;
	}
}
