/* *************************
 * TRANSITIONS
 * *************************/

@layer utilities {
  #sidebar.isShown {
    max-width: 90%;
    @apply translate-x-0 opacity-100 w-full;
  }
  #page.isShown {
    @apply overflow-hidden;
  }
  #scrolltop.isShown {
    @apply pointer-events-auto opacity-100;
  }
  #screen.isShown {
    @apply block;
  }
  #search-pane.isShown,
  #snackbar.isShown {
    @apply translate-y-0 opacity-100;
  }
  #snackbar.isShown {
    @apply duration-500 ease-out;
  }
}
