:root {
  --sidebar-width: 300px;
  --fluid-margin: 7.5vw;
  /* sky-500 */
  --color-brand: rgb(14, 165, 233);
  /* sky-700 */
  --color-link: rgb(3, 105, 161);
  --color-gray: #424242;
  --color-gray-light: #616161;
  --color-gray-dark: #212121;
}
