:root {
  --sidebar-width: 300px;
  --fluid-margin: 7.5vw;
  /* sky-500 */
  --color-brand: #0ea5e9;
  /* sky-700 */
  --color-link: #0369a1;
  --color-gray: #424242;
  --color-gray-light: #616161;
  --color-gray-dark: #212121;
}
