/* This file contains Tailwind styles applied to common tags
 * such as paragraphs, headings, links, etc. */

/* remove rounded corners on webkit browsers */
input[type="search"] {
  -webkit-appearance: none;
}

@screen md {
  section {
    @apply max-w-2xl;
  }
}

p {
  @apply my-6;
}

strong {
  @apply font-medium;
}

/* **************************
 * HEADINGS
 * **************************/
main {
  h1 {
    @apply text-4xl text-gray-800 leading-tight mb-12 mt-12;
  }
  h2 {
    @apply text-2xl text-gray-800 leading-snug mb-8 mt-16;
  }
  h3 {
    @apply text-xl text-gray-800 font-medium leading-snug mb-6 mt-8;
  }
  h4,
  .rubric {
    @apply text-gray-800 font-medium my-6;
  }
}

/* **************************
 * LINKS
 * **************************/
.headerlink {
  @apply invisible ml-3 text-gray-500 font-medium;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
table:hover .headerlink,
.admonition-title:hover .headerlink,
.figure:hover .headerlink,
.literal-block-wrapper:hover .headerlink {
  @apply visible;
}

p a {
  @apply text-blue-700;
}

.search {
  li {
    @apply border-t my-4 py-4;
    a {
      @apply text-blue-700 text-lg;
    }
  }
  .context {
    @apply text-sm text-gray-800;
  }
}

.highlighted {
  @apply py-px px-1 bg-pink-200 rounded;
}

.highlight-link {
  @apply hidden;
}

.headerlink:hover:after,
.search li a:hover,
a:hover {
  @apply text-pink-600;
}

#nav-toc {
  a {
    &.current {
      @apply text-pink-600;
    }
    &:hover {
      @apply bg-gray-200 outline-none;
    }
    &:focus {
      @apply bg-gray-200 outline-none;
    }
  }
  .toctree-l1 > a {
    @apply block py-4 pl-8 pr-4;
  }
  .toctree-l1:first-of-type > a {
    @apply -mt-4;
  }
  .toctree-l2 > a {
    @apply block py-3 pl-10 pr-4;
  }
  .toctree-l3 > a {
    @apply block py-3 pl-16 pr-4;
  }
  .caption {
    @apply pl-8 pr-4 uppercase text-sm text-gray-900 font-medium tracking-widest;
  }
  /* this works by accident; the first-of-type is applied to the <p> *type*
   * you we can't use it on the class */
  .caption:first-of-type {
    @apply mt-0;
  }
}

@screen xxl {
  #nav-toc {
    .toctree-l1 > a {
      @apply pl-16;
    }
    .toctree-l2 > a {
      @apply pl-18;
    }
    .toctree-l3 > a {
      @apply pl-24;
    }
    .caption {
      @apply pl-16;
    }
  }
}

.toctree-wrapper,
.contents.local {
  /* This was meant to include a headline for the ``toctree`` directive if :hidden: is
   * not specified. Unfortunately, with :hidden:, "Contents" appears, because the <div>
   * contains a whitespace. It's not truly empty. On the other hand, CSS4's new :empty
   * spec (that would also consider whitespace as empty) is not supported by any
   * browser. I'll leave this in here for now in case I find a better solution. */
  /* &::before {
    content: "Contents";
    @apply text-xl text-gray-800 font-medium leading-snug mb-6 mt-8;
  }
  &:empty {
    &::before {
      content: none;
    }
  }
  & + &::before {
    content: none;
  } */
  .caption {
    @apply uppercase text-sm text-gray-700 tracking-widest;
  }
  ul {
    @apply mx-0 !important;
  }
  li {
    @apply list-none px-0 !important;
  }
  .toctree-l1 > a {
    @apply block;
  }
  .toctree-l2 > a {
    @apply block py-3 pl-4;
  }
  .toctree-l3 > a {
    @apply block py-3 pl-8;
  }
  a {
    @apply text-blue-700;
    &.current {
      @apply text-pink-600;
    }
  }
}

/* **************************
 * CODE
 * **************************/
code {
  @apply font-mono font-medium text-sm leading-none py-px px-1 bg-gray-200 rounded;
}

pre {
  font-size: 0.95rem;
}

div[class^="highlight-"] {
  @apply my-6 overflow-x-auto;
}

div.highlight {
  @apply relative;
}

.linenodiv,
.highlight {
  pre {
    @apply p-4 pt-8 rounded bg-gray-200 overflow-x-auto;
  }
}

.linenodiv {
  pre {
    @apply border-r border-gray-400 pr-1 bg-gray-100 rounded-r-none select-none pointer-events-none;
  }
}

.highlighttable {
  @apply w-full;
  td {
    @apply p-0;
  }
  .highlight {
    pre {
      @apply rounded-l-none;
    }
  }
}

/* emphasized lines in .highlight blocks */
.hll {
  @apply block;
}

.literal-block-wrapper {
  @apply my-6;

  .code-block-caption {
    @apply text-sm ml-4;
  }
  div[class^="highlight-"] {
    @apply mt-4;
  }
}

/* make prompts unselectable */
.gp {
  @apply select-none pointer-events-none;
}

/* from the 'samp' directive */
em.var {
  @apply text-purple-700 font-medium;
}

.samp > em {
  @apply text-purple-700;
}

button.copy {
  @apply absolute right-0 top-0 p-2 text-gray-600 outline-none;
  &:focus {
    @apply outline-none text-pink-500;
  }
  &:hover {
    @apply text-pink-500;
  }
  & > svg {
    @apply h-4 w-4 fill-current;
  }
}

/* **************************
 * LISTS
 * **************************/
ol {
  @apply list-decimal ml-4;
}

section ul {
  @apply list-disc ml-4;
}

ol > li,
section ul > li {
  @apply pl-2;
}

dt {
  @apply font-medium tracking-wide;
}

dd {
  @apply pl-6;
  p {
    @apply mt-2;
  }
}

/* **************************
 * TABLES
 * **************************/
table {
  caption {
    @apply text-left text-sm text-gray-800 px-2 mb-4;
  }
}

table:not(.highlighttable) {
  @apply text-sm my-10;
  p {
    @apply p-0 m-0;
  }
  p + p {
    @apply mt-4;
  }
  tr {
    @apply border-b border-t border-gray-400;
  }
  th {
    @apply font-medium bg-gray-200 tracking-wide py-3 px-2 text-left align-top;
  }
  td {
    @apply px-2 py-3 text-left align-top;
  }
}

/* **************************
 * FIGURES
 * **************************/

.figure {
  @apply my-12;
  .caption {
    @apply text-sm text-gray-800 m-4;
  }
  .caption-number {
    @apply font-medium tracking-wide;
  }
  .legend {
    @apply text-sm text-gray-800 italic ml-4;
    p:first-child {
      @apply mt-0;
    }
  }
}

/* **************************
 * ADMONITIONS
 * **************************/
.admonition {
  @apply text-sm my-6 p-4 rounded text-blue-900 bg-blue-200;

  p:not(.admonition-title) {
    @apply my-4;
  }
  p:last-child {
    @apply mb-0;
  }
  .headerlink {
    @apply text-blue-900;
  }
}

.tip,
.hint {
  @apply text-green-900 bg-green-200;
  .headerlink {
    @apply text-green-900;
  }
}

.warning,
.danger,
.error {
  @apply text-red-900 bg-red-200;
  .headerlink {
    @apply text-red-900;
  }
}

.caution,
.important {
  @apply text-yellow-900 bg-yellow-200;
  .headerlink {
    @apply text-yellow-900;
  }
}

.admonition-title {
  @apply font-medium tracking-wide mb-4 mt-0;
}

/* **************************
 * OTHER DIRECTIVES/ROLES
 * **************************/
.guilabel {
  @apply font-medium tracking-wide;
}

/* *************************
 * TRANSITIONS
 * *************************/
[data-menu="closed"] {
  @apply transition-all transform opacity-0 duration-300;
}

[data-menu="open"] {
  transition: transform 0.3s, opacity 0.5s;
  @apply translate-x-0 translate-y-0 opacity-100;
}

nav[data-menu="closed"] {
  @apply -translate-x-full;
}

@screen md {
  nav[data-menu="closed"] {
    @apply translate-x-0 opacity-100;
  }
}

#search-pane[data-menu="closed"] {
  @apply translate-y-full;
}

/* **************************
 * PRINT
 * **************************/
@media print {
  header {
    box-shadow: none !important;
    flex-direction: row-reverse !important;
    justify-items: space-between !important;
    align-items: center !important;
    @apply border-b;

    img {
      transform: translate(0, -14px) !important;
      margin-right: 1rem !important;
    }
    h2 {
      margin-left: 1rem !important;
    }
  }

  p {
    orphans: 2;
    widows: 2;

    a.external:after {
      content: " (" attr(href) ")";
    }
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  a {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  section[role="contentinfo"] {
    break-before: avoid;
    page-break-before: avoid;
  }

  table {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  pre,
  code {
    white-space: pre-wrap !important;
  }
}
