.feedback {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-block-start: 1.5rem;
  align-items: center;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}

#upvote,
#downvote {
  border-radius: var(--radius);
}

#upvote:hover,
#upvote:focus {
  color: #059669;
}

#upvote:hover {
  background-color: #ecfdf5;
}

#upvote > svg {
  margin-block-end: 5px;
}

#downvote:hover,
#downvote:focus {
  color: #dc2626;
}

#downvote:hover {
  background-color: #fef2f2;
}
