name: Build assets on Dependabot PRs

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - package.json

permissions:
  contents: write
  pull-requests: write

jobs:
  build-assets:
    if: ${{ github.actor == 'dependabot[bot]' }}
    defaults:
      run:
        working-directory: src/theme-src
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false
      - name: Get pnpm store path
        id: pnpm-store
        run: echo "path=$(pnpm store path --silent)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-store.outputs.path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
      - run: pnpm build
      - name: Commit and push
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git diff --cached --quiet && exit 0
          git commit -m "chore: rebuild generated assets"
          git push
