name: CI
on: push
jobs:
  format:
    name: Check that code is formatted
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Set up hatch
        run: uv tool install hatch
      - name: Check formatting
        run: hatch fmt --check
  theme:
    name: Build theme assets
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/theme-src
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false
      - name: Get pnpm store path
        id: pnpm-store
        run: echo "path=$(pnpm store path --silent)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-store.outputs.path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
      - run: pnpm build
  test:
    name: Run CI workflows
    runs-on: ubuntu-latest
    needs:
      - format
      - theme
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Set up hatch
        run: uv tool install hatch
      - name: Run dev workflow
        run: hatch run dev:all
        env:
          DOCSEARCH_APP_ID: ${{ vars.DOCSEARCH_APP_ID }}
          DOCSEARCH_API_KEY: ${{ vars.DOCSEARCH_API_KEY }}
          DOCSEARCH_INDEX_NAME: ${{ vars.DOCSEARCH_INDEX_NAME }}
  docs:
    name: Build the docs (for testing)
    runs-on: ubuntu-latest
    needs:
      - format
      - theme
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Set up hatch
        run: uv tool install hatch
      - name: Build the docs
        run: |
          hatch run docs:build
        env:
          DOCSEARCH_APP_ID: ${{ vars.DOCSEARCH_APP_ID }}
          DOCSEARCH_API_KEY: ${{ vars.DOCSEARCH_API_KEY }}
          DOCSEARCH_INDEX_NAME: ${{ vars.DOCSEARCH_INDEX_NAME }}
  build:
    name: Build the package
    runs-on: ubuntu-latest
    needs:
      - format
      - theme
      - test
      - docs
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Build packages
        run: |
          uv build
      - uses: actions/upload-artifact@v6
        with:
          name: python-packages
          path: dist/
  publish:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v8
        with:
          name: python-packages
          path: dist/
      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
  release:
    name: Create new GitHub release
    runs-on: ubuntu-latest
    needs:
      - publish
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v8
        with:
          name: python-packages
          path: dist/
      - name: Create GitHub release
        run: |
          gh release create --repo ${{ github.repository }} ${{ github.ref_name }} ./dist/**
        env:
          GITHUB_TOKEN: ${{ github.token }}
