---
name: Algolia Indexing

on:
  push:
    branches:
      - master

jobs:
  index:
    runs-on: ubuntu-latest

    name: Index Docs with Algolia

    steps:
      - name: Check-out repo
        uses: actions/checkout@v2

      - name: Algolia Crawler
        uses: algolia/algoliasearch-crawler-github-actions@v1.0.10
        id: index_after_push
        with:
          crawler-user-id: ${{ secrets.CRAWLER_USER_ID }}
          crawler-api-key: ${{ secrets.CRAWLER_API_KEY }}
          algolia-app-id: ${{ secrets.ALGOLIA_APP_ID }}
          algolia-api-key: ${{ secrets.ALGOLIA_API_KEY }}
          site-url: 'https://sphinxawesome.xyz'
