name: linkcheck
on:
  pull_request:
    paths:
      - 'docs/**/*.rst'
      - 'docs/**/*.md'
      - 'docs/conf.py'

jobs:
  links:
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Set up hatch
        run: uv tool install hatch
      - name: Check links
        run: hatch run docs:links
        env:
          DOCSEARCH_APP_ID: ${{ vars.DOCSEARCH_APP_ID }}
          DOCSEARCH_API_KEY: ${{ vars.DOCSEARCH_API_KEY }}
          DOCSEARCH_INDEX_NAME: ${{ vars.DOCSEARCH_INDEX_NAME }}
