---
name: Lint

on:
  push:
    paths-ignore:
      - 'src/theme-src/**'

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    name: Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update Pip
        run: |
          pip install --constraint=constraints.txt pip
          pip --version

      - name: Update Pip in virtual environments
        shell: python
        run: |
          import os
          import pip

          with open(os.environ["GITHUB_ENV"], mode="a") as io:
            print(f"VIRTUALENV_PIP={pip.__version__}", file=io)

      - name: Install Poetry
        run: |
          pipx install --pip-args=--constraint=constraints.txt poetry
          poetry --version

      - name: Install nox
        run: |
          pipx install --pip-args=--constraint=constraints.txt nox
          nox --version

      - name: Install nox-poetry
        run: |
          pipx inject --pip-args=--constraint=constraints.txt nox nox-poetry

      - name: Run nox workflow
        run: |
          nox -p ${{ matrix.python-version }}
