---
name: Check documentation quality

on:
  pull_request

jobs:
  vale:
    runs-on: ubuntu-latest
    name: Check style

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Vale
        uses: errata-ai/vale-action@v2.0.1
        with:
          files: '["docs/", "README.md"]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linkcheck:
    runs-on: ubuntu-latest
    name: Check links
    environment: DocSearch for building

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --constraint=constraints.txt poetry nox

      - name: Run Nox linkcheck session
        run: |
          nox -s linkcheck
        env:
          DOCSEARCH_APP_ID: ${{ secrets.DOCSEARCH_APP_ID }}
          DOCSEARCH_API_KEY: ${{ secrets.DOCSEARCH_API_KEY }}
          DOCSEARCH_INDEX_NAME: ${{ secrets.DOCSEARCH_INDEX_NAME }}
