name: Check documentation quality
on:
  pull_request:
    paths:
      - 'docs/**'
      - 'README.md'

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Vale
        uses: errata-ai/vale-action@v2.0.0
        with:
          files: '["docs/", "README.md"]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
